.weatherConditions {
  padding: 0 var(--sectionPadding) var(--sectionPadding) var(--sectionPadding)
    var(--sectionPadding);
}
.weatherConditions--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 850px;
  /* From https://css.glass */
  background: var(--componentBackground);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: var(--mainBorderRadius);
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item p {
  margin: 0;
  font-size: 30px;
  font-weight: 800;
  color: var(--colorOne);
}
.item img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.item h4 {
  color: var(--colorTwo);
  font-weight: 300;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Responsive */

/* Mobile */
@media only screen and (max-width: 600px) {
  .weatherConditions--container {
    padding: var(--componentPadding);
  }
  .item p {
    font-size: 20px;
  }
  .item h4 {
    font-size: 15px;
  }
}

/* Tablet */
@media only screen and (max-width: 992px) and (min-width: 600px) {
  .weatherConditions--container {
    padding: var(--componentPadding);
  }
}
@media only screen and (max-width: 1314px) and (min-width: 600px) {
  .weatherConditions--container {
    max-width: 100%;
  }
}
